<!-- Formulario de rol -->
<form [formGroup]="formularioUsuario" (ngSubmit)="enviarFormulario()">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="" for="">Usuario</label>
        <input
          formControlName="username"
          type="text"
          class="form-control"
          placeholder="usuario"
        />
        <small *ngIf="usernameNoValido" class="text-danger"
          >El campo Usuario no puede llevar espacio o caracteres especiales.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="" for="">Nombre</label>
        <input
          formControlName="first_name"
          type="text"
          class="form-control"
          placeholder="Nombre"
        />
        <small *ngIf="first_nameNoValido" class="text-danger"
          >El campo Nombre es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="" for="">Apellido</label>
        <input
          formControlName="last_name"
          type="text"
          class="form-control"
          placeholder="Apellido"
        />
        <small *ngIf="last_nameNoValido" class="text-danger"
          >El campo Apellido es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="" for="">Correo</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="Correo"
        />
        <small *ngIf="emailNoValido" class="text-danger"
          >El campo Email es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="exampleInput">Rol</label>
        <select
          formControlName="role"
          id="exampleSelect"
          class="custom-select"
          name=""
        >
          <option value="">Seleccionar Rol</option>
          <option value="VENTAS">Ventas</option>
          <option value="COMPRAS">Compras</option>
          <option value="INVENTARIO">Inventario</option>
          <option value="COMPRAS-INVENTARIO">Compras-Inventario</option>
          <option value="VENTAS-COMPRAS-INVENTARIO">
            Ventas-Compras-Inventario
          </option>
          <option value="ADMINISTRADOR">Administrador</option>
        </select>
        <small *ngIf="roleNoValido" class="text-danger"
          >El campo Rol es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div
    *ngIf="formularioUsuario.get('role')?.value == 'ADMINISTRADOR' || formularioUsuario.get('role')?.value == 'VENTAS' || formularioUsuario.get('role')?.value == 'VENTAS-COMPRAS-INVENTARIO'"
    class="row"
  >
    <div class="col">
      <div class="form-group">
        <label for="exampleInput">Impresoras</label>
        <select
          formControlName="impresora"
          id="exampleSelect"
          class="custom-select"
          name=""
        >
          <option value="">Seleccionar Impresora</option>
          <option
            *ngFor="let impresora of impresoras"
            value="{{impresora.id_impresora}}"
          >
            {{impresora.nombre_impresora}}
          </option>
        </select>
        <small *ngIf="impresoraNoValido" class="text-danger"
          >El campo Impresora es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div *ngIf="isCreateUser" class="row">
    <div class="col">
      <div class="form-group">
        <label class="" for="">Contraseña</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Contraseña"
        />
        <small *ngIf="passwordNoValido" class="text-danger"
          >La contraseña no es valida.</small
        >
      </div>
    </div>
  </div>

  <div *ngIf="isCreateUser" class="row">
    <div class="col">
      <div class="form-group">
        <label class="" for="">Confirmar Contraseña</label>
        <input
          formControlName="password_confirmation"
          type="password"
          class="form-control"
          placeholder="Confirmar Contraseña"
        />
        <small *ngIf="password_confirmationNoValido" class="text-danger"
          >Las contraseñas no coinciden.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngIf="!isLoading" class="card-footer text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      <div *ngIf="isLoading" class="card-footer text-center">
        <button type="button" [disabled]="true" class="btn btn-primary">
          <i class="fas fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>
  </div>
</form>
