<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="'/'" class="brand-link">
    <img
      src="../../assets/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">AVS Comercial</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div
      class="
        user-panel
        mt-3
        pb-3
        mb-3
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <div class="info text-center">
        <a class="d-block">{{user.username}}</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li *ngIf="rol =='ADMINISTRADOR'" class="nav-item">
          <a class="nav-link cursor-pointer">
            <i class="fas fa-chart-pie"></i>
            <p>
              Reportes
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Reporte</p>
              </a>
            </li>
          </ul>
        </li>

        <li
          *ngIf="rol =='ADMINISTRADOR' || rol =='VENTAS' || rol =='VENTAS-COMPRAS-INVENTARIO'"
          class="nav-item"
        >
          <a class="nav-link cursor-pointer">
            <i class="fas fa-cash-register"></i>
            <p>
              Ventas
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li *ngIf="rol =='ADMINISTRADOR'" class="nav-item">
              <a routerLink="{{ '/ventas/listar-ventas' }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar Ventas</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="{{ '/ventas/crear-venta' }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Crear Venta</p>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="{{ '/ventas/listar-clientes' }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Clientes</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="{{ '/ventas/agregar-cliente' }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Agregar Cliente</p>
              </a>
            </li>
          </ul>
        </li>

        <li
          *ngIf="rol =='ADMINISTRADOR' || rol =='COMPRAS' || rol =='VENTAS-COMPRAS-INVENTARIO'"
          class="nav-item"
        >
          <a class="nav-link cursor-pointer">
            <i class="fas fa-dolly"></i>
            <p>
              Compras
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="{{'/compras/listar-proveedores'}}"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Proveedores</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="{{'/compras/crear-proveedor'}}">
                <i class="far fa-circle nav-icon"></i>
                <p>Crear Proveedor</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="{{'/compras/listar-compras'}}">
                <i class="far fa-circle nav-icon"></i>
                <p>Compras</p>
              </a>
            </li>
          </ul>
        </li>

        <li
          *ngIf="rol =='ADMINISTRADOR' || rol =='INVENTARIO' || rol =='VENTAS-COMPRAS-INVENTARIO'"
          class="nav-item"
        >
          <a class="nav-link cursor-pointer">
            <i class="fas fa-boxes"></i>
            <p>
              Inventario
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                routerLink="{{ '/inventario/ver-articulos' }}"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Articulos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="{{ '/inventario/crear-articulo' }}"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Crear Articulo</p>
              </a>
            </li>
          </ul>
        </li>

        <li
          *ngIf="rol =='ADMINISTRADOR' || rol =='VENTAS' || rol =='VENTAS-COMPRAS-INVENTARIO'"
          class="nav-item"
        >
          <a class="nav-link cursor-pointer">
            <i class="fas fa-money-bill-wave"></i>
            <p>
              Arqueo de Caja
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Arqueo</p>
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="rol =='ADMINISTRADOR'" class="nav-item">
          <a class="nav-link cursor-pointer">
            <i class="fas fa-user-friends"></i>
            <p>
              Recursos Humanos
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Recursos</p>
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="rol =='ADMINISTRADOR'" class="nav-item">
          <a class="nav-link cursor-pointer">
            <i class="fas fa-unlock-alt"></i>
            <p>
              Seguridad
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="{{ '/seguridad/crear-usuario' }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Crear Usuario</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="{{ '/seguridad/listar-usuarios' }}"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Usuarios</p>
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="rol =='ADMINISTRADOR'" class="nav-item">
          <a class="nav-link cursor-pointer">
            <i class="fas fa-hdd"></i>
            <p>
              Configuración
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="{{'/configuracion/crear-perfil-impresora'}}"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Crear Perfil de Impresora</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="{{'/configuracion/listar-perfiles-impresora'}}"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Perfiles de Impresora</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
