<!-- navbar -->
<app-navbar></app-navbar>
<!-- /navbar-->
<!-- aside -->
<app-aside></app-aside>
<!-- /aside -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Inventario</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="'home'">inventario</a>
            </li>
            <li class="breadcrumb-item active">ajustar stock</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Modificar Stock</h3>

        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
            title="Collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="remove"
            title="Remove"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <!-- Formulario articulo -->
        <!-- form start -->
        <form [formGroup]="formularioModificarStock" (ngSubmit)="enviarFormulario()">
          <div class="form-group mb-3">
            <label *ngIf="articulo" for="exampleInput"
              >{{ "Artículo: " + articulo.nombre }}</label
            >
          </div>
          <div class="form-group mb-3">
            <label *ngIf="articulo" for="exampleInput"
              >{{ "Código: "+ articulo.codigo_barras }}</label
            >
          </div>
          <div class="form-group mb-3">
            <label *ngIf="articulo" for="exampleInput"
              >{{ "Stock Actual: "+ articulo.stock_actual }}</label
            >
          </div>

          <div class="form-group mb-3">
            <label for="exampleInput">Motivo de ajuste de stock</label>
            <textarea
              formControlName="motivo_ajuste"
              class="form-control"
              rows="3"
              placeholder=""
            ></textarea>
          </div>

          <div class="form-group mb-3">
            <label for="exampleInput">Tipo de Ajuste</label>
            <select
              formControlName="tipo_ajuste"
              class="custom-select rounded-0"
              id="tipoAjuste"
              name="tipoAjuste"
            >
              <option value="A">Alta de Artículo</option>
              <option value="B">Baja de Artículo</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label for="exampleInput">Cantidad</label>
            <input
              formControlName="cantidad"
              type="number"
              class="form-control"
              placeholder="Ajuste de Stock"
            />
          </div>

          <div class="row">
            <div class="col">
              <div *ngIf="!isLoading" class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
              <div *ngIf="isLoading" class="card-footer text-center">
                <button type="button" [disabled]="true" class="btn btn-primary">
                  <i class="fas fa-spinner fa-pulse"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">Footer</div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- footer -->
<app-footer></app-footer>
<!-- /footer -->
