<!-- navbar -->
<app-navbar></app-navbar>
<!-- /navbar-->
<!-- aside -->
<app-aside></app-aside>
<!-- /aside -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Compras</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="'home'">compras</a>
            </li>
            <li class="breadcrumb-item active">listar-notas-credito</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
  <!-- Mostrar Modal-->
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Nota de Crédito"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      nzCancelText="Cancelar"
      nzOkText="Ok"
    >
      <ng-container *nzModalContent>
        <label>Proveedor: {{modalNotaCredito.nombre_proveedor | uppercase}}</label>
        <br />
        <label>Nro. Factura: {{modalNotaCredito.numero_factura}}</label>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Código</th>
              <th scope="col">Artículo</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Costo</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let articulo of modalNotaCredito.id_detalle_nota_credito_proveedor; let i = index"
            >
              <th scope="row">{{i+1}}</th>
              <td>{{articulo.codigo_articulo}}</td>
              <td>{{articulo.nombre_articulo}}</td>
              <td>{{articulo.cantidad}}</td>
              <td>
                {{articulo.costo_unitario | currency : 'GS' : 'symbol' :
                '1.0-0'}}
              </td>
              <td>
                {{articulo.costo_unitario * articulo.cantidad | currency : 'GS'
                : 'symbol' : '1.0-0'}}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </nz-modal>
    <!-- Fin Modal -->
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Notas Crédito</h3>

        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
            title="Collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="remove"
            title="Remove"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Lista de Notas de Crédito</h3>
                <div class="card-tools">
                  <form
                    [formGroup]="formularioBuscar"
                    (ngSubmit)="enviarFormulario()"
                  >
                    <div
                      class="input-group input-group-sm"
                      style="width: 150px"
                    >
                      <input
                        formControlName="notaCredito"
                        type="text"
                        name="table_search"
                        class="form-control float-right"
                        placeholder="Buscar"
                      />
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table
                  *ngIf="!isLoading"
                  class="table table-hover text-nowrap text-center"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Proveedor</th>
                      <th>Nro. Factura</th>
                      <th>Monto</th>
                      <th attr.colspan="2">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let notaCredito of notasCredito; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{notaCredito.nombre_proveedor}}</td>
                      <td>{{notaCredito.numero_factura}}</td>
                      <td>
                        {{notaCredito.monto_total | currency : 'GS' : 'symbol' :
                        '1.0-0'}}
                      </td>
                      <td>
                        <button
                          (click)="mostrarNotaCredito(notaCredito.id_nota_credito_proveedor)"
                          class="btn btn-block bg-gradient-primary btn-flat"
                          type="button"
                        >
                          Ver Nota de Crédito
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        <div *ngIf="isLoading" class="row justify-content-center">
          <div class="col-auto">
            <i class="fas fa-sync fa-spin fa-5x"></i>
          </div>
        </div>
        <div *ngIf="isError" class="row justify-content-center">
          <div class="col-auto col-8 text-center">
            <div class="alert alert-danger" role="alert">
              <h3>ERROR!!!</h3>
              <i class="fas fa-exclamation-circle fa-7x"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <!-- Paginación de pagina-->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li [ngClass]="{'disabled':anterior == ''}" class="page-item">
              <a
                (click)="cargarNotasCredito(anterior)"
                class="page-link cursor-pointer m-1"
                tabindex="-1"
                [attr.aria-disabled]="anterior != ''"
                >Anterior</a
              >
            </li>
            <li [ngClass]="{'disabled':siguiente == ''}" class="page-item">
              <a
                (click)="cargarNotasCredito(siguiente)"
                [attr.aria-disabled]="siguiente != ''"
                class="page-link cursor-pointer m-1"
                >Siguiente</a
              >
            </li>
          </ul>
        </nav>
        <!-- /paginación -->
      </div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- footer -->
<app-footer></app-footer>
<!-- /footer -->
