<!-- Formulario articulo -->
<!-- form start -->
<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
  <div class="card-body">
    <div class="form-group mb-3">
      <label for="exampleInput">Nombre</label>
      <input
        formControlName="nombre"
        type="text"
        class="form-control"
        placeholder="Nombre del Artículo"
      />
      <small *ngIf="nombreNoValido" class="text-danger"
        >El campo Nombre es obligatorio.</small
      >
    </div>

    <div class="form-group mb-3">
      <label for="exampleInput">Código de Barra</label>
      <input
        formControlName="codigo_barras"
        type="number"
        class="form-control"
        placeholder="Código de barra"
      />
      <small *ngIf="codigo_barrasNoValido" class="text-danger"
        >El campo Código de Barra es obligatorio.</small
      >
    </div>
    <label for="exampleInput">Marca</label>
    <div class="input-group mb-3">
      <nz-select
        formControlName="id_marca"
        class="custom-select"
        nzShowSearch
        nzAllowClear
        [nzDropdownRender]="renderTemplate"
        nzPlaceHolder="Seleccionar Marca"
      >
        <nz-option
          *ngFor="let item of marcas"
          [nzLabel]="item.descripcion"
          [nzValue]="item.id_marca"
        ></nz-option>
      </nz-select>
      <ng-template #renderTemplate>
        <nz-divider></nz-divider>
        <div class="container">
          <input class="form-control" type="text" nz-input #inputElement />
          <a
            *ngIf="!loadingMarca"
            class="add-item"
            (click)="addMarca(inputElement)"
          >
            <i nz-icon nzType="plus"></i>
            Add Marca
          </a>
          <a *ngIf="loadingMarca" class="add-item">
            <i class="fas fa-spinner fa-pulse"></i>
            Loading...
          </a>
        </div>
      </ng-template>
    </div>
    <small *ngIf="id_marcaNoValido" class="text-danger"
      >El campo Marca es obligatorio.</small
    >
    <div class="form-group mb-3">
      <label for="exampleInput">Costo</label>
      <input
        formControlName="costo"
        type="number"
        class="form-control"
        placeholder="Precio compra"
      />
      <small *ngIf="costoNoValido" class="text-danger"
        >El campo Costo es obligatorio.</small
      >
    </div>

    <div class="form-group mb-3">
      <label for="exampleInput">IVA %</label>
      <select formControlName="porc_iva" class="form-control">
        <option value="10">10%</option>
        <option value="5">5%</option>
        <option value="0">exenta</option>
      </select>
      <small *ngIf="porc_ivaNoValido" class="text-danger"
        >El campo IVA es obligatorio.</small
      >
    </div>

    <div class="form-group mb-3">
      <label for="exampleInput">Comisión %</label>
      <input
        formControlName="porc_comision"
        type="number"
        class="form-control"
        placeholder="Porcentaje de comisión"
      />
      <small *ngIf="porc_comisionNoValido" class="text-danger"
        >El campo Comisión es obligatorio.</small
      >
    </div>

    <div class="form-group mb-3">
      <label for="exampleInput">Stock Mínimo</label>
      <input
        formControlName="stock_minimo"
        type="number"
        class="form-control"
        placeholder="Stock mínimo"
      />
      <small *ngIf="stock_minimoNoValido" class="text-danger"
        >El campo Stock Mínimo es obligatorio.</small
      >
    </div>

    <div class="form-group mb-3">
      <label for="exampleInput">Unidad de Medida</label>
      <select
        formControlName="unidad_medida"
        id="exampleSelect"
        class="custom-select"
        name=""
      >
        <option value="UN">Unidad</option>
        <option value="KG">Kilogramo</option>
        <option value="CC">Centímetros Cúbicos</option>
        <option value="CJ">Por Caja</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="exampleInput">Precio Unitario</label>
      <input
        formControlName="precio_unitario"
        type="number"
        class="form-control"
        placeholder="Precio 1"
      />
      <small *ngIf="precio_unitarioNoValido" class="text-danger"
        >El campo Precio Unitario es obligatorio.</small
      >
    </div>

    <div class="form-group mb-3">
      <label for="exampleInput">Precio Mayorista</label>
      <input
        formControlName="precio_mayorista"
        type="number"
        class="form-control"
        placeholder="Precio 2"
      />
      <small *ngIf="precio_mayoristaNoValido" class="text-danger"
        >El campo Precio Mayorista es obligatorio.</small
      >
    </div>

    <div class="form-group mb-3">
      <label for="exampleInput">Precio Especial</label>
      <input
        formControlName="precio_especial"
        type="number"
        class="form-control"
        placeholder="Precio 3"
      />
      <small *ngIf="precio_especialNoValido" class="text-danger"
        >El campo Precio Especial es obligatorio.</small
      >
    </div>
  </div>
  <!-- /.card-body -->
  <div class="row">
    <div class="col">
      <div *ngIf="!isLoading" class="card-footer text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      <div *ngIf="isLoading" class="card-footer text-center">
        <button type="button" [disabled]="true" class="btn btn-primary">
          <i class="fas fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>
  </div>
</form>
