<!-- Formulario de rol -->
<form [formGroup]="formularioPersona" (ngSubmit)="enviarFormulario()">
  <div class="row">
    <div class="col">
      <div class="form-group mb-3">
        <label class="" for="">Nombre y Apellido</label>
        <input
          formControlName="nombre_apellido"
          type="text"
          class="form-control"
          placeholder="Nombre y Apellido"
        />
        <small *ngIf="nombre_apellidoNoValido" class="text-danger"
          >El campo Nombre y Apellido es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group mb-3">
        <label class="" for="">Cédula</label>
        <input
          formControlName="cedula"
          type="text"
          class="form-control"
          placeholder="Cédula"
        />
        <small *ngIf="cedulaNoValido" class="text-danger"
          >El campo Cédula es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group mb-3">
        <label>Fecha de Nacimiento: </label>
        <input
          formControlName="fecha_nacimiento"
          class="ml-3"
          matInput
          [matDatepicker]="picker"
          placeholder="día / mes / año"
          [disabled]="true"
        />
        <mat-datepicker  touchUi #picker [disabled]="false"></mat-datepicker>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <div class="form-group">
          <small *ngIf="fecha_nacimientoNoValido" class="text-danger"
            >El campo Fecha de Nacimiento es obligatorio.</small
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group mb-3">
        <label class="" for="">RUC</label>
        <input
          formControlName="ruc"
          type="text"
          class="form-control"
          placeholder="RUC"
        />
        <small *ngIf="rucNoValido" class="text-danger"
          >El campo RUC es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01"
        >Tipo de Persona</label
      >
    </div>
    <select
      formControlName="tipo_persona"
      class="custom-select"
      id="inputGroupSelect01"
    >
      <option value="F">Persona Física</option>
      <option value="J">Persona Jurídica</option>
    </select>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group mb-3">
        <label class="" for="">Dirección</label>
        <input
          formControlName="direccion"
          type="text"
          class="form-control"
          placeholder="Dirección"
        />
        <small *ngIf="direccionNoValido" class="text-danger"
          >El campo Dirección es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group mb-3">
        <label class="" for="">Teléfono / Celular</label>
        <input
          formControlName="telefono"
          type="text"
          class="form-control"
          placeholder="Teléfono / Celular"
        />
        <small *ngIf="telefonoNoValido" class="text-danger"
          >El campo Télefono / Celular es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group mb-3">
        <label class="" for="">Correo</label>
        <input
          formControlName="correo_electronico"
          type="email"
          class="form-control"
          placeholder="Correo"
        />
        <small *ngIf="correoNoValido" class="text-danger"
          >El campo Correo es obligatorio.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngIf="!isLoading" class="card-footer text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      <div *ngIf="isLoading" class="card-footer text-center">
        <button type="button" [disabled]="true" class="btn btn-primary">
          <i class="fas fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>
  </div>
</form>

