<div class="row m-1 m-lg-5 justify-content-center align-items-center">
  <div class="col-auto">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="../../index2.html" class="h1"
            ><b>AVS</b> Comercial</a
          >
        </div>
        <div class="card-body">
          <p class="login-box-msg">Iniciar Sesión</p>

          <form [formGroup]="formularioLogin" (ngSubmit)="enviarFormulario()">
            <div class="input-group mb-3">
              <input
                formControlName="email"
                type="email"
                class="form-control"
                placeholder="Correo"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                formControlName="password"
                type="password"
                class="form-control"
                placeholder="Contraseña"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember" />
                  <label for="remember"> Recordar Usuario </label>
                </div>
              </div>
              <!-- /.col -->
            </div>

            <div class="row">
              <div *ngIf="!isLoading" class="col-12">
                <button type="submit" class="btn btn-primary btn-block">
                  Iniciar Sesión
                </button>
              </div>
              <div *ngIf="isLoading" class="col-12">
                <button
                  type="button"
                  [disabled]="true"
                  class="btn btn-primary btn-block"
                >
                  <i class="fas fa-spinner fa-pulse"></i>
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <p class="mb-1 mt-4 text-center">
            <a href="forgot-password.html">Recuperar Contraseña</a>
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
