<!-- navbar -->
<app-navbar></app-navbar>
<!-- /navbar-->
<!-- aside -->
<app-aside></app-aside>
<!-- /aside -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Seguridad</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="'home'">Seguridad</a>
            </li>
            <li class="breadcrumb-item active">modificar-usuario</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Modificar Usuario</h3>

        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
            title="Collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="remove"
            title="Remove"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <!--Formulario de usuario-->
        <!-- Formulario de rol -->
        <form [formGroup]="formularioUsuario" (ngSubmit)="enviarFormulario()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="" for="">Usuario</label>
                <input
                  formControlName="username"
                  type="text"
                  class="form-control"
                  placeholder="usuario"
                />
                <small *ngIf="usernameNoValido" class="text-danger"
                  >El campo Usuario es obligatorio.</small
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="" for="">Nombre</label>
                <input
                  formControlName="first_name"
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                />
                <small *ngIf="first_nameNoValido" class="text-danger"
                  >El campo Nombre es obligatorio.</small
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="" for="">Apellido</label>
                <input
                  formControlName="last_name"
                  type="text"
                  class="form-control"
                  placeholder="Apellido"
                />
                <small *ngIf="last_nameNoValido" class="text-danger"
                  >El campo Apellido es obligatorio.</small
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="" for="">Correo</label>
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  placeholder="Correo"
                />
                <small *ngIf="emailNoValido" class="text-danger"
                  >El campo Email es obligatorio.</small
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInput">Rol</label>
                <select
                  formControlName="role"
                  id="exampleSelect"
                  class="custom-select"
                  name=""
                >
                  <option value="">Seleccionar Rol</option>
                  <option value="rol1">Rol 1</option>
                  <option value="rol2">Rol 2</option>
                  <option value="rol3">Rol 3</option>
                </select>
                <small *ngIf="roleNoValido" class="text-danger"
                  >El campo Rol es obligatorio.</small
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div *ngIf="!isLoading" class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
              <div *ngIf="isLoading" class="card-footer text-center">
                <button type="button" [disabled]="true" class="btn btn-primary">
                  <i class="fas fa-spinner fa-pulse"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- /.card-body -->
      <div class="card-footer">Footer</div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- footer -->
<app-footer></app-footer>
<!-- /footer -->
