<!-- navbar -->
<app-navbar></app-navbar>
<!-- /navbar-->
<!-- aside -->
<app-aside></app-aside>
<!-- /aside -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ventas</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="'home'">ventas</a>
            </li>
            <li class="breadcrumb-item active">ventas</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Mostrar Modal-->
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Factura"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      nzCancelText="Cancelar"
      nzOkText="Ok"
    >
      <ng-container *nzModalContent>
        <iframe
          id="iframe"
          [src]="linkPdf | safe"
          style="width: 100%; height: 700px"
          frameborder="0"
        ></iframe>
      </ng-container>
    </nz-modal>
    <!-- Fin Modal -->

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Ventas</h3>

        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
            title="Collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="remove"
            title="Remove"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Lista de Ventas</h3>
                <div class="card-tools">
                  <form
                    [formGroup]="formularioBuscar"
                    (ngSubmit)="enviarFormulario()"
                  >
                    <div
                      class="input-group input-group-sm"
                      style="width: 150px"
                    >
                      <input
                        formControlName="venta"
                        type="text"
                        name="table_search"
                        class="form-control float-right"
                        placeholder="Buscar"
                      />
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table
                  *ngIf="!isLoading"
                  class="table table-hover text-nowrap text-center"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Usuario</th>
                      <th>Cliente</th>
                      <th>Fecha</th>
                      <th>Total</th>
                      <th attr.colspan="2">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let venta of ventas; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{venta.nombre_usuario}}</td>
                      <td>{{venta.nombre_cliente}}</td>
                      <td>{{venta.fecha | date:'fullDate'}}</td>
                      <td>{{'estado de la venta'}}</td>
                      <th>
                        {{venta.total | currency : 'GS' : 'symbol' : '1.0-0'}}
                      </th>
                      <td>
                        <button
                          (click)="mostrarFactura(venta.id_venta)"
                          class="btn btn-block bg-gradient-primary btn-flat"
                          type="button"
                        >
                          Ver Factura
                        </button>
                      </td>
                      <td>
                        <button
                          class="btn btn-block bg-gradient-warning btn-flat"
                          type="button"
                        >
                          Crear Nota de Crédito
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        <div *ngIf="isLoading" class="row justify-content-center">
          <div class="col-auto">
            <i class="fas fa-sync fa-spin fa-5x"></i>
          </div>
        </div>
        <div *ngIf="isError" class="row justify-content-center">
          <div class="col-auto col-8 text-center">
            <div class="alert alert-danger" role="alert">
              <h3>ERROR!!!</h3>
              <i class="fas fa-exclamation-circle fa-7x"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <!-- Paginación de pagina-->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li [ngClass]="{'disabled':anterior == ''}" class="page-item">
              <a
                (click)="cargarVentas(anterior)"
                class="page-link cursor-pointer m-1"
                tabindex="-1"
                [attr.aria-disabled]="anterior != ''"
                >Anterior</a
              >
            </li>
            <li [ngClass]="{'disabled':siguiente == ''}" class="page-item">
              <a
                (click)="cargarVentas(siguiente)"
                [attr.aria-disabled]="siguiente != ''"
                class="page-link cursor-pointer m-1"
                >Siguiente</a
              >
            </li>
          </ul>
        </nav>
        <!-- /paginación -->
      </div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- footer -->
<app-footer></app-footer>
<!-- /footer -->
