/* You can add global styles to this file, and also import other style files */
/*ESTILO GENERALES*/
.cursor-pointer {
  cursor: pointer;
}

/*Cambiar la clase de datepicker de angular material*/
.cdk-overlay-container {
  z-index: 2000 !important;
}
/*NZ estilos*/
.nz-select {
  width: 100%;
}
.nz-divider {
  margin: 4px 0;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.add-item {
  flex: 0 0 auto;
  padding: 8px;
  display: block;
}
/*
=====================================
**************CHART**************
=====================================
*/
.chart {
  max-width: 100%;
  width: 100%;
  margin: 10px auto;
}
.chart__titulo {
  color: #212121;;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 15px;
  text-align: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
