<!-- navbar -->
<app-navbar></app-navbar>
<!-- /navbar-->
<!-- aside -->
<app-aside></app-aside>
<!-- /aside -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Home</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="'home'">Reportes</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Reportes del Sistema Avs Comercial</h3>

        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
            title="Collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="remove"
            title="Remove"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <form [formGroup]="formulario" (ngSbmit)="enviarFormulario()">
            <mat-form-field appearance="fill">
              <mat-label>Rango de Fecha</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  formControlName="fechaInicio"
                  matStartDate
                  placeholder="Fecha Inicio"
                />
                <input
                  formControlName="fechaFin"
                  matEndDate
                  placeholder="Fecha Fin"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker touchUi #picker></mat-date-range-picker>
            </mat-form-field>
          </form>
        </div>
        <div class="row justify-content-center mb-3">
          <div *ngIf="!isLoading" class="">
            <button
              type="button"
              (click)="enviarFormulario()"
              class="btn btn-primary"
            >
              Actualizar Fecha
            </button>
          </div>
          <div *ngIf="isLoading" class="">
            <button type="button" [disabled]="true" class="btn btn-primary">
              <i class="fas fa-spinner fa-pulse"></i>
            </button>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 class="m-2 text-white">
                  {{'vendedor 1' | uppercase }}
                </h3>
                <p>Vendedor con más ventas</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 class="m-2 text-white">
                  {{totalVentas | number: '1.0-0' }} Gs.
                </h3>
                <p>Total de Ventas</p>
              </div>
              <div class="icon">
                <i class="fas fa-balance-scale"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 class="m-2 text-white">
                  {{totalCompras | number: '1.0-0' }} Gs.
                </h3>
                <p class="text-white">Total Compras</p>
              </div>
              <div class="icon">
                <i class="fas fa-balance-scale"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">
            <app-pie-chart
              [titulo]="titulo1"
              [variables]="nombreProductos"
              [valorVariables]="subTotalVentaPie"
              [totalVariables]="totalVentas"
            ></app-pie-chart>
          </div>
          <div class="col-12 col-lg-6">
            <app-bar-chart
              [titulo]="titulo2"
              [variables]="nombreVendedores"
              [serie1]="serie1"
              [valorVariablesSerie1]="valorVariablesSerie1"
            ></app-bar-chart>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">Footer</div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- footer -->
<app-footer></app-footer>
<!-- /footer -->
